@import "tailwindcss";

:root {
  --color-primary: #a58261;
  --color-secondary: #d8c5b5;
  --color-background: #faf8f5;
  --color-text: #2f2f2f;
  --color-muted: #6b6b6b;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
}

a {
  transition: color 0.3s ease;
}

a:hover{
  color: var(--color-primary);
}

.add-to-cart-button {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color-primary);
  background: transparent;
  color: var(--color-primary);
  cursor: pointer;
  transition: 0.3s;
}

.add-to-cart-button:hover {
  background-color: var(--color-primary);
  color: white;
}